<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>

    <!--Folders to backup-->
    <!--<add key="backupFolderN" value="C:\Source\Folder,X:\Destination\Folder"/>-->
    <add key="backupFolder1" value="C:\MattC\GitHub,H:\GitHub"/>
    <add key="backupFolder2" value="C:\MattC\z_work,H:\z_work"/>

    <!--ignore-->
    <add key="ignoreFolderPaths" value="C:\MattC\GitHub\Matt\src\bat, C:\MattC\GitHub\Matt\src\LINQPad\"/>
    <add key="ignoreFolderNames" value=".git,_nocopy"/>
    <add key="ignoreExts" value=".lock,.tmp"/>
    <add key="ignoreFiles" value="Thumbs.db,gitconfig,.gitignore,.gitattributes"/>
    
  </appSettings> 
  
</configuration>