<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>   
  
    <add key="featureServiceUrl" value="http://maps1.arcgisonline.com/ArcGIS/rest/services/NWS_Weather_Stations/MapServer/2"/>
    <add key="objectIdField" value="OBJECTID_1"/>
    <add key="queryLimit" value="1000"/>
    <add key="outputFile" value="C:\Temp\feature_dump.csv"/>

  </appSettings>
</configuration>
